@import url("https://fonts.googleapis.com/css?family=Oswald:400,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Oswald", sans-serif;
  background-color: #d43256; }

.menu-button {
  position: fixed;
  top: 24px;
  left: 24px;
  height: 80px;
  width: 80px;
  z-index: 5;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 0 0 3px 1px black; }
  .menu-button .bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 16px 0; }

.bar {
  background-color: white;
  width: 60%;
  height: 7px;
  margin: 7px auto;
  border-radius: 3px; }

.menu {
  width: 130px;
  z-index: 7;
  background-color: white;
  position: fixed;
  top: 20px;
  left: 20px;
  text-align: center;
  display: none;
  transition: opacity 1s; }
  .menu * {
    padding: 10px;
    border: 1px solid slategrey;
    display: block;
    color: black;
    text-decoration: none; }

.projects-link {
  background-color: #d43256;
  color: white;
  border: 1px dotted white; }

.home-link:hover, .about-link:hover, .contact-link:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer; }

.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #d43256 93%, rgba(255, 255, 255, 0.7) 93%, rgba(255, 255, 255, 0.7) 94%, #d43256 94%, #d43256 94.5%, rgba(255, 255, 255, 0.7) 94.5%, rgba(255, 255, 255, 0.7) 95%, #d43256 95%);
  transition: transform 0.8s; }

.grid {
  padding-top: 50px;
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.header-box {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  align-self: center;
  background: linear-gradient(165deg, #fe9593 0%, #fe9593 73%, #d43256 73%, #d43256 85%, #1f68bf 85%);
  height: 100%;
  display: table;
  width: 100%; }
  .header-box .header {
    display: table-cell;
    vertical-align: middle;
    color: white; }

.item {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: white; }
  .item p {
    font-size: 14px;
    margin: 20px 0;
    padding: 0 30px; }
  .item img {
    width: 100%; }
  .item a {
    color: #58cee3; }
  .item h6 {
    text-decoration: underline; }
  .item .name {
    text-decoration: underline;
    margin-bottom: 10px; }
  .item :not(img) {
    display: none; }
  .item .lang {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .item .lang .what {
      width: 100%; }
      .item .lang .what h6 {
        text-decoration: underline; }
      .item .lang .what p {
        font-size: 14px; }
  .item .close {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    z-index: 5; }
    .item .close:hover {
      color: #fe9593;
      box-shadow: 0 0 4px 1px white; }

.hovering {
  position: relative;
  cursor: pointer;
  font-size: 0;
  transition: filter 0.6s; }
  .hovering:hover {
    filter: opacity(0.8); }
  .hovering:before {
    height: 100%;
    width: 100%;
    content: '';
    color: white;
    box-sizing: border-box;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-alphanumeric/068022-3d-transparent-glass-icon-alphanumeric-information3-sc49.png"), rgba(255, 255, 255, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .hovering:hover:before {
    opacity: 0.6; }

@media only screen and (max-width: 480px) {
  .container {
    padding-top: 45px; }

  .menu-button {
    top: 5px;
    left: 5px; }

  .menu {
    top: 5px;
    left: 5px; }

  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    width: 90vw; } }

/*# sourceMappingURL=projects.css.map */
